<template>
  <Layout>
    <v-row class="my-0 pa-2 sticky align-center justify-center" :class="[{'sticky--small': $vuetify.breakpoint.xs}, $vuetify.theme.isDark ? 'accent primary--text text--darken-2' : 'primary white--text']">Events</v-row>
    <v-list class="py-3" :class="$vuetify.theme.isDark ? 'primary darken-2': 'grey lighten-4'">
      <template v-for="event of events">
        <v-list-item two-line class="mb-1" :class="$vuetify.theme.isDark ? 'primary darken-3' : 'white'" :key="event.id" :to="'/' + (event.slug || event.id)">
          <v-list-item-content>
            <v-list-item-title>
              <span :class="$vuetify.theme.isDark ? 'accent--text text--darken-1' : ''">{{event.name}}</span>
            </v-list-item-title>
            <v-list-item-subtitle>
              <span :class="$vuetify.theme.isDark ? 'accent--text text--darken-1' : ''">{{event.startDate | date('MMMM DD, YYYY')}}</span>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </Layout>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Layout from './Layout.vue';
import { Event } from '../models/event';

@Component({
  components: {
    Layout,
  },
})
export default class EventPicker extends Vue {
  events: Event[] = [];

  async created() {
    this.events = await Event.getEvents();
    this.events.sort((a, b) => {
      if (!(a.startDate && b.startDate)) { return 0; }
      return a.startDate > b.startDate ? -1 : 1;
    });
  }

}
</script>
