<template>
  <v-row class="ma-0" :class="{'pt-4': $vuetify.breakpoint.smAndUp}" justify="center">
    <v-col class="py-0" cols="12" sm="8" md="6" lg="5">
      <slot/>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Layout extends Vue {

}
</script>
