<template>
  <Layout v-if="participant">
    <v-row class="my-0 pa-2 sticky align-center justify-center" :class="[{'sticky--small': $vuetify.breakpoint.xs}, $vuetify.theme.isDark ? 'accent primary--text text--darken-2' : 'primary white--text']">
      <v-btn small text :dark="!$vuetify.theme.isDark" :light="$vuetify.theme.isDark" class="flex-basis-0 absolute-left ml-2" :to="{name: ROUTES.search.name, params: {eventSlugOrId}}"><v-icon size="small" class="pr-2">fas fa-chevron-left</v-icon>Back</v-btn>
      <span>
        <span>{{participant.bibNumber}}: {{participant.firstName}} {{participant.lastName}}</span>
        <span v-if="participant.dnfStation === 0"> - Did not start</span>
        <span v-else-if="participant.dnfStation"> - DNF</span>
      </span>
    </v-row>
    <v-row
      class="pb-3"
      :class="[
        $vuetify.theme.isDark ? 'primary darken-3' : 'white',
        $vuetify.breakpoint.xs ? 'my-0' : 'ma-0',
      ]"
    >
      <v-col>
        <v-row class="mx-0 font-weight-bold" :class="$vuetify.theme.isDark ? 'accent--text text--darken-1' : ''">
          <v-col cols="1">#</v-col>
          <v-col cols="5">Name</v-col>
          <!-- <v-col cols="2">Distance</v-col> -->
          <v-col class="text-right">Arrived</v-col>
          <v-col class="text-right">Left</v-col>
        </v-row>
        <template v-for="station of stations">
          <v-row class="mx-0" :class="$vuetify.theme.isDark ? 'accent--text text--darken-1' : ''" :key="station.id">
            <v-col cols="1">{{station.stationNumberDisplayed || station.stationNumber}}</v-col>
            <v-col cols="5">{{station.name}}<span class="pl-1" v-if="station.distance || station.distance === 0">({{station.distance}})</span></v-col>
            <!-- <v-col cols="2">{{station.distance}}</v-col> -->
            <v-col class="text-right" v-if="participant.dnfStation === station.stationNumber && station.stationNumber === 0">DNS</v-col>
            <v-col class="text-right" v-else-if="(entryMap[station.stationNumber] || {}).timeIn">
              <span>{{(entryMap[station.stationNumber] || {}).timeIn | date('HH:mm')}}</span>
              <small> {{(entryMap[station.stationNumber] || {}).timeIn | date('(M/D)')}}</small>
            </v-col>
            <v-col class="text-right" v-else>———</v-col>
            <v-col class="text-right" v-if="participant.dnfStation === station.stationNumber">DNF</v-col>
            <v-col class="text-right" v-else-if="(entryMap[station.stationNumber] || {}).timeOut">
              <span>{{(entryMap[station.stationNumber] || {}).timeOut | date('HH:mm')}}</span>
              <small> {{(entryMap[station.stationNumber] || {}).timeOut | date('(M/D)')}}</small>
            </v-col>
            <v-col class="text-right" v-else>———</v-col>
          </v-row>
        </template>
      </v-col>
    </v-row>
  </Layout>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ROUTES } from '@/router/routes';
import Layout from './Layout.vue';
import { Participant } from '@/models/participant';
import { Entry } from '@/models/entry';
import { Event } from '@/models/event';
import { Station } from '@/models/station';

Component.registerHooks([
  'beforeRouteEnter',
  'beforeRouteUpdate',
  'beforeRouteLeave'
]);

@Component({
  components: {
    Layout,
  },
})
export default class EventPicker extends Vue {
  ROUTES = ROUTES;
  eventSlugOrId = '';
  event: Event | null = null;
  entryMap: {[stationNumber: number]: Entry} = {};
  participant: Participant | null = null;
  stations: Station[] = [];
  stationMap: {[id: string]: Station} = {};
  updateHandle: number | null = null;

  async created() {
    const eventSlugOrId = this.eventSlugOrId = this.$route.params.eventSlugOrId;
    this.event = await Event.getEvent(this.eventSlugOrId);
    if (!this.event) { return this.$router.push({name: ROUTES.events.name}); }
    await this.getParticipant();
    if (!this.participant) { return this.$router.push({name: ROUTES.search.name, params: {eventSlugOrId}}); }
    await this.getStations();

    this.getEntrys();

    this.updateHandle = setInterval(() => {
      this.getParticipant();
      this.getEntrys();
    }, 60 * 1000);
  }

  beforeDestroy() {
    if (this.updateHandle !== null) { clearInterval(this.updateHandle); }
  }

  async getParticipant() {
    if (!this.event?.id) { return; }
    const bibNumber = this.$route.params.bibNumber;
    this.participant = (await Participant.getParticipant(this.event.id, Number(bibNumber))) || null;
  }

  async getStations() {
    if (!this.event?.id || !this.participant) { return; }
    this.stations = (await Station.getStations(this.event.id, this.participant.raceId || (void 0))) || [];
    this.stations.sort((a, b) => a.stationNumber > b.stationNumber ? 1 : -1);
    this.stationMap = this.stations.reduce((m, s) => {
      m[s.id] = s;
      return m;
    }, {} as {[id: string]: Station});
  }

  async getEntrys() {
    if (!this.participant?.id) { return; }
    const entrys = await Entry.getEntrys({participantId: this.participant.id});
    this.entryMap = entrys.reduce((m, e) => {
      const station = this.stationMap[e.stationId];
      m[station.stationNumber] = e;
      return m;
    }, {} as {[stationNumber: number]: Entry});
  }
}
</script>

<style lang="scss" scoped>
.flex-basis-0 { flex-basis: 0; }
</style>
