<template>
  <Layout>
    <div>
      <div class="sticky" :class="[{'sticky--small': $vuetify.breakpoint.xs}, $vuetify.theme.isDark ? 'primary darken-2' : 'grey lighten-4']">
        <v-row class="my-0 py-2 px-2 justify-center" :class="$vuetify.theme.isDark ? 'accent primary--text text--darken-2' : 'primary white--text'">
          <!-- I've removed the button to go back to the list of events -->
          <!-- <v-btn small text :dark="!$vuetify.theme.isDark" :light="$vuetify.theme.isDark" class="flex-basis-0 absolute-left backBtn" to="/"><v-icon size="small" class="pr-2">fas fa-chevron-left</v-icon>Events</v-btn> -->
          <span>{{eventName}}</span>
        </v-row>
        <v-row class="mt-3">
          <v-text-field v-model="searchStr" @input="filter"
            class="search px-4" :color="$vuetify.theme.isDark ? 'white' : ''"
            prepend-inner-icon="fas fa-search"
            :dark="$vuetify.theme.isDark" :light="!$vuetify.theme.isDark"
            placeholder="Search by name or bib #" hide-details
            outlined rounded dense
          ></v-text-field>
        </v-row>
        <v-card v-if="races.length && !searchStr">
          <v-tabs class="mt-4 mb-3" center-active :color="$vuetify.theme.isDark ? 'white' : undefined" :background-color="$vuetify.theme.isDark ? 'primary darken-3' : undefined" v-model="selectedRaceIdx" @change="filter">
            <v-tab color="white" v-if="races.length">All</v-tab>
            <template v-for="race of races">
              <v-tab :key="race.id" color="white">{{race.name}}</v-tab>
            </template>
          </v-tabs>
        </v-card>
        <v-row class="mx-0 mb-0 px-3 font-weight-bold" :class="$vuetify.theme.isDark ? 'accent--text text--darken-1' : ''" v-if="filteredParticipants.length">
          <v-col class="pr-0" cols="2">Bib #</v-col>
          <v-col>Name</v-col>
        </v-row>
        <v-row class="mx-0 pl-7 pt-6 font-weight-bold" :class="$vuetify.theme.isDark ? 'accent--text' : ''" v-if="!filteredParticipants.length">
          <span>No Results</span>
        </v-row>
      </div>
      <v-list class="pt-0 pb-3" :class="$vuetify.theme.isDark ? 'primary darken-2': 'grey lighten-4'">
        <template v-for="p of filteredParticipants">
          <v-list-item :key="p.id" class="mb-1" :class="$vuetify.theme.isDark ? 'primary darken-3' : 'white'" :to="'/' + eventSlugOrId + '/' + p.bibNumber">
            <v-list-item-content class="py-0">
              <v-list-item-title class="d-flex">
                <v-col class="pr-0" :class="[$vuetify.theme.isDark ? 'accent--text text--darken-1' : '', {'crossed-off': p.dnfStation === 0}]" cols="2">{{p.bibNumber}}</v-col>
                <v-col :class="[$vuetify.theme.isDark ? 'accent--text text--darken-1' : '', {'crossed-off': p.dnfStation === 0}]">{{p.firstName}} {{p.lastName}}</v-col>
                <!-- <v-col v-if="p.dnfStation === 0" :class="$vuetify.theme.isDark ? 'accent--text text--darken-1' : ''">Did not start</v-col> -->
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </div>
  </Layout>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ROUTES } from '@/router/routes';
import Layout from './Layout.vue';
import { Event } from '@/models/event';
import { Race } from '@/models/race';
import { Participant } from '../models/participant';

@Component({
  components: {
    Layout,
  },
})
export default class Search extends Vue {
  eventSlugOrId = '';
  eventName = '';
  filteredParticipants: Participant[] = [];
  participants: Participant[] = [];
  races: Race[] = [];
  searchStr = '';
  selectedRaceIdx = 0;

  async created() {
    this.eventSlugOrId = this.$route.params.eventSlugOrId;
    const event = await Event.getEvent(this.eventSlugOrId);
    if (!event) { return this.$router.push({name: ROUTES.events.name}); }
    this.races = await Race.getRaces(event.id);
    this.eventName = event.name;
    this.participants = await Participant.getParticipants(event.id);
    this.participants.sort((a, b) => a.bibNumber > b.bibNumber ? 1 : -1);
    this.filter();
  }

  filter() {
    let str = this.searchStr;
    str = str.toLowerCase();
    const race = this.races[this.selectedRaceIdx - 1];
    this.filteredParticipants = this.participants.filter(p => {
      if (!str && this.selectedRaceIdx && ((race?.id || (void 0)) !== p.raceId)) { return false; }
      return String(p.bibNumber).includes(str)
        || ((p.firstName?.toLowerCase() ?? '') + (p.lastName?.toLowerCase() ?? ''))?.includes(str.replace(/\s/gi, ''))
        || ((p.lastName?.toLowerCase() ?? '') + (p.firstName?.toLowerCase() ?? ''))?.includes(str.replace(/\s/gi, ''))
      ;
    });
  }
}
</script>

<style lang="scss" scoped>
@import '@/variables';
.search.theme--dark, .search.them--light {
  ::v-deep {
    input::placeholder { font-style: italic; }
    .v-input__prepend-inner { padding-right: 16px !important; }
  }
}
.search.theme--dark {
  ::v-deep {
    .v-input__icon i { color: white; }
    fieldset {
      border: 2px solid white;
    }
  }
}
.search.theme--light {
  ::v-deep {
    .v-input__icon i { color: $primary; }
    fieldset {
      border: 2px solid $primary;
    }
  }
}
.crossed-off { text-decoration: line-through; }
.backBtn { margin-left: -4px; }
</style>
