body {
  background: var(--v-primary-darken2) !important;
}
.sticky {
  position: -webkit-sticky; position: sticky; top: 0px; z-index: 1;
  // &.sticky--small { top: 56px; }
}
.v-btn.absolute-left { position: absolute; left: 0; }
.theme--dark.v-list-item:hover::before { opacity: 0 !important; }