$primary: #006065;
$secondary: #424242;
$accent: #FFC10A;
$error: #FF5252;
$info: #2196F3;
$success: #4CAF50;
$warning: #FFC107;
$hamstudyBlue: #00BCD6;

:export {
  primary: $primary;
  secondary: $secondary;
  accent: $accent;
  error: $error;
  info: $info;
  success: $success;
  warning: $warning;
  hamstudyBlue: $hamstudyBlue;
}